.header{
    background-color: rgb(71, 71, 71);
    height: 40px;
    /* margin-top: -25px; */
}

.header h5{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

.header h5 a {
    color: white;
}