.companines{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 99%;
    text-align: center;
}

.companines h3{
    padding-top: 30px ;
    font-weight: bold;
    text-align: center;
}

.companines .line {
    background-color:orange;
    height: 2px;
    text-align: center;
    margin: 0px 18%;
    width: 64%;
}

.companines img {
    width: 60%;
    height: 20%;
    margin-top: 10%;
}